body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

nav a:hover {
    color: purple;
}